body {
  margin: 0;
}

section {
  margin: 100px 10%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgb(233, 237, 255);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 50);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}

.active {
  background-color: #94a1f5;
}

table, th, td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding-left: 10px;
}

.jumbotron {
  /* The image used */
  background-image: url("./images/gacha-game.png");
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotext {
  margin: auto;
  width: 50%;
  padding: 100px 0;
  text-align: center;
  color:rgb(233, 237, 255);
  background-color:rgb(9, 21, 76);
  opacity: 70%;
}